<h1><%= current_user.email%>'s Library</h1>

<h3>Books I've Rented</h3>
    <% if @rented_books != nil %>
        <ol>
        <% @rented_books.each do |book| %>
            <li><%=book.title%> by <%=book.author%></li>
        <%end%>
        </ol>
    <% else %>
        <p>Your list is currently empty.</p>
    <% end %>

<h3>Books I Own </h3>

    <% if @owned_books != nil %>
        <ol>
        <% @owned_books.each do |book| %>
            <li><%=book.title%> by <%=book.author%></li>
        <%end%>
        </ol>
    <% else %>
        <p>Your list is currently empty.</p>
    <% end %>
    <br>
    <p><%=link_to 'Click here to add a book to your Books I Own list', new_book_path%></p>