<h1>Add a book to your library</h1>

<h3>To add a book that you own, please fill out the form below. Title & author are mandatory.</h3>
    
    <%= form_for(@book) do |f| %>
      <%= f.label :title, "Title:"%><br>
      <%= f.text_field :title, {id: "title"} %><br>
      <br>
      <%= f.label :author, "Author:"%><br>
      <%= f.text_field :author%><br>
      <br>
      <%= f.label :year, "Year of publication:"%><br>
      <%= f.text_field :year%><br>
      <br>
      <%= f.label :description, "Write a short book summary:"%><br>
      <%= f.text_area :description%><br>
      <br>
      
      <h3> Choose a genre from the existing list, or add a new one below: </h3>
       <%= f.collection_check_boxes :genre_id, Genre.all, :id, :name %>
       <br>
      <h4> Other genre: </h4>
        <%= f.fields_for :genres, @book.genres.build do |fields| %>
        <%= fields.text_field :name %>
      <br>
      <% end %>
      <br>
      <%= f.submit %>
    <% end %>