<h2> <%= @book.title %></h2>
<h3>Author: <%= @book.author %></h3>
<h4>Year: <%= @book.year %></h4>
<p><strong>Description:</strong> <%= @book.description %></p>

<p><strong>Availability:</strong></p>
   <% if @book.available? %>
       <p>This book is available.</p>
       <p><strong>Cost: <%=@book.cost%> credit</strong></p>
          <% if @book.user.credits >= @book.cost %>
          <p><%= button_to 'Borrow this book', borrow_path %></p>
          <% else %>
             <p><strong>Sorry, you don't have enough credits to rent this book. Return a book to get more credits!</strong></p>
          <% end %>
   <% else %>
       <p>Sorry, this book is rented.</p>
   <% end %>

<h2>Comments</h2>
   <% if @book.comments != [] %>
      <ol>
      <% @book.comments.each do |comment| %>
          <li><strong>Comment by <%=comment.commenter%></strong></li><br>
          <%= comment.body %>
          <br>
             <% if comment.user_id == current_user.id %>
                <%= link_to 'Delete Comment', book_comment_path(@book, comment), method: :delete %><br>
                <%= link_to 'Edit Comment', edit_book_comment_path(@book, comment) %><br>
             <% end %>
          <br>
          <% end %>
      </ol>
   <% else %>
      <p>There are no comments yet. Add yours below!</p>
   <% end %>
      
      
<h2>Add a comment:</h2>
<%= render partial: "comments/form", locals: {book: @book} %>

